body{
	@include flexBox();
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
	background:black;
}

.container{
	@include flexBox();
	-webkit-flex-direction: column;
	flex-direction: column;
	@media (min-width:$screen-medium){
		-webkit-flex-direction: row;
		flex-direction: row;
	}
	-webkit-justify-content: space-between;
	justify-content: space-between;
	max-width: 72rem;
	margin: 0 auto;
}

.main-content{
	-webkit-box-flex: 0;
	-webkit-flex: none;
	-ms-flex: none;
	flex: none;
	background: lighten($brand-secondary, 62%);
	.container{
		-webkit-align-items:flex-start;
		align-items: flex-start;
	}
	.main{
		-webkit-order:1;
		order:1;
		background:white;
		padding: 1rem 2rem;
		-webkit-flex-flow: column wrap; // Column wrap for small devices
		flex-flow:column wrap;
		-webkit-justify-content:space-around;
		justify-content:space-around;
		width:100%;
		@media (min-width:$screen-medium){
			-webkit-flex-flow: column wrap; // Column wrap for small devices
			flex-flow:column wrap;
			margin:1.5rem 0;
			-webkit-flex:2 75%;
			flex:2 75%;
		}
		&.landing-page{
			margin:1.5rem 0;
			-webkit-order:1;
			order:1;
			background:white;
			padding: 1rem 2rem;
			@media (min-width:$screen-medium){
				-webkit-flex:2 65%;
				flex:2 65%;
			}
		}
		
		.post, .page{
			.entry-title{
				padding-top:0.5rem;
				font-size: 2.0rem;
			}
			&:not(:first-child) .entry-title{
				border-top: solid 5px lighten($brand-secondary, 58%);
			}
		}
		
		
		.author-info{
			border-top: solid 5px lighten($brand-secondary, 58%);
			
			.author-heading{
				font-size:1.35rem;
			}
			.author-avatar img{
				float:left;
				border:solid 1px lighten($brand-secondary, 58%);
				background:lighten($brand-secondary, 62%);
				padding:0.125rem;
				border-radius: 100%;
				margin: 0 0.75rem 1rem;
			}
			&:after{
				content:' ';
				height:1px;
				clear:both;
				display: block;
			}
		}	
	
	}
	.sidebar{
		-webkit-order:2;
		order:2;
		padding:1rem 2rem;
		-webkit-flex-flow: column wrap; // Column wrap for small devices
		flex-flow: column wrap;
		-webkit-justify-content:space-around;
		justify-content:space-around;
		width:100%;
		@media (min-width:$screen-medium){
			-webkit-flex-flow: column wrap; // Column wrap for small devices
			flex-flow:column wrap;
			margin:1.5rem 0;
			-webkit-flex:1 25%;
			flex:1 25%;
		}
		&.landing-page{
			@media (min-width:$screen-medium){
				-webkit-flex:1 30%;
				flex:1 30%;
			}	
		}
	}
}