body{
	@include flexBox();
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
	background:black;
}

.container{
	@include flexBox();
	-webkit-flex-direction: column;
	flex-direction: column;
	@media (min-width:768px){
		-webkit-flex-direction: row;
		flex-direction: row;
	}
	-webkit-justify-content: space-between;
	justify-content: space-between;
	max-width: 72rem;
	margin: 0 auto;
}

.main-content{
	-webkit-box-flex: 0;
	-webkit-flex: none;
	-ms-flex: none;
	flex: none;
	background: lighten($brand-secondary, 62%);
	.container{
		-webkit-align-items:flex-start;
		align-items: flex-start;
	}
	.main{
		-webkit-order:1;
		order:1;
		background:white;
		padding: 1rem 2rem;
		@media (min-width:768px){
			margin:1.5rem 0;
			-webkit-flex:2 75%;
			flex:2 75%;
		}
	}
	.sidebar{
		-webkit-order:2;
		order:2;
		padding:1rem 2rem;
		@media (min-width:768px){
			margin:1.5rem 0;
			-webkit-flex:1 25%;
			flex:1 25%;
		}
	}
}