.contact{
	-webkit-box-flex: 0;
	-webkit-flex: none;
	-ms-flex: none;
	flex: none;
	background: black;
	border-bottom: solid 5px lighten(#333, 75%);
/*
	-webkit-flex-flow: row wrap;
	flex-flow:row wrap;
	-webkit-justify-content:space-between;
	justify-content: space-between;
	background: black;
	-webkit-align-items:center;
	align-items: center;
*/
	.social{
		-webkit-align-self:center;
		align-self: center;
		text-align: center;
		border-top:solid 1px rgba(255,255,255,0.25);
		-webkit-order:2;
		order:2;
		@media(min-width:768px){
			-webkit-order:1;
			order:1;
			-webkit-align-self:flex-start;
			align-self: flex-start;	
			border-top: none;
		}
		a{
			text-decoration: none;
			display: inline-block;
			padding:1rem;
			color:white;
			.fa{
				padding:0.75rem;
				height: 15px;
				width: 15px;
				color:white;
			}
			&.facebook:hover{
				color:white;
				background: #3B5998;
			}
			&.twitter:hover{
				color:white;
				background:#55acee;
			}
		}
	}
	
	.contact-info{
		text-align: center;
		-webkit-align-self:center;
		align-self: center;
		-webkit-order:1;
		order:1;
		@media(min-width:768px){
			-webkit-order:2;
			order: 2;
			-webkit-align-self:flex-end;
			align-self: flex-end;
		}
		
		a{
			text-decoration: none;
			display: inline-block;
			padding:1rem;
			color:white;
			&:hover{
				color:$brand-primary;
			}
			i.fa{
				background: $brand-primary;
				margin-right: 0.5rem;
				padding:0.75rem;
				border-radius: 100%;
				height: 15px;
				width: 15px;
				color:white;
			}
		}
	}
}

// Header //

header{
	-webkit-box-flex: 0;
	-webkit-flex: none;
	-ms-flex: none;
	flex: none;
	background:white;
	color:#333;
	.logo{
		-webkit-flex-grow:2;
		flex-grow: 2;
	}
	.tagline{
		-webkit-align-self: flex-end;
		align-self: flex-end;
		padding:0 1rem;
	}
}

nav{
	-webkit-box-flex: 0;
	-webkit-flex: none;
	-ms-flex: none;
	flex: none;	
	background:white;
	border-top: solid 5px lighten(#333, 75%);
	border-bottom: solid 5px lighten(#333, 75%);
	@media (min-width:768px){
		border-top:none;
	}
	.navigation {
		list-style: none;
		margin: 0; 
		padding:0;
		@include flexBox();
		-webkit-flex-flow: column wrap; // Column wrap for small devices
		-webkit-justify-content:space-around;
		justify-content:space-around;
		width:100%;
		
		@media(min-width:768px){
			-webkit-flex-flow:row wrap;
			flex-flow:row wrap;
			-webkit-justify-content:flex-start;
			justify-content: flex-start;
		}
		.current-menu-item {
			a{
				background:darken(white, 20%);
				@media(min-width:768px){
					background: transparent;
					color:$brand-primary;
					font-weight: bold;	
				}
			}
		}
		a{
			color:lighten(#333, 20%);
			display: block;
			padding:1rem;
			text-align:center;
			text-transform: uppercase;
			font-weight: bold;
			@media(min-width:768px){
				padding:0.5rem;
				margin:0 1rem;	
				&:first-child{
					margin-left:0;
				}
			}
			
			&:hover{
				color:$brand-primary;
			}
		}
		
		li{
			&:not(:last-child){
				border-bottom:solid 1px darken(white, 20%);
				@media(min-width:768px){
					border:none;
				}
			}
		}
	}
}

